



/* 페이지네이션 css */

.pagination_container {
    /* 페이지네이션 컴포넌트의 스타일 */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}



.pagination_page {
    /* 페이지 버튼 스타일 */
    margin: 0 10px;
    cursor: pointer;
    font-size: 28px;
    color: #333;
    transition: color 0.3s;
    background-color: #f5f5f5; 
    padding: 0 15px; 
    border: 1px solid #ccc; 
    border-radius: 25px;
    list-style: none;
}


.pagination_page:hover {
    color: #007bff;
}

.pagination_active {
    /* 활성화된 페이지 버튼 스타일 */
    font-weight: bold;
    background-color: #007bff;
    color: white;
}

.pagination_previous,
.pagination_next {
    /* 이전/다음 버튼 스타일 */
    margin: 0 10px;
    cursor: pointer;
    font-size: 32px;
    color: #333;
    transition: color 0.3s;
    list-style: none;
}

.pagination_previous:hover,
.pagination_next:hover {
    color: #007bff;
}


/* 게시판 테이블 스타일 */
.table_list {
  width: 100%; /* 테이블 전체 너비를 화면 너비에 맞춥니다. */
  border-collapse: collapse; /* 셀 경계를 병합하여 깔끔하게 표시합니다. */
  margin: 20px 0; /* 위아래 여백을 조절합니다. */
}

.table_list th, .table_list td {
  padding: 10px; /* 셀 안의 여백을 조절합니다. */
  text-align: center; /* 텍스트를 가운데 정렬합니다. */
  border: 1px solid #ccc; /* 셀 테두리를 설정합니다. */
}

/* 머리글 행 스타일 */
.table_list thead {
  background-color: #dedede; /* 머리글 배경색을 설정합니다. */
  color: black; /* 머리글 텍스트 색상을 설정합니다. */
}

/* 머리글 셀 스타일 */
.table_list th {
  font-weight: bold; /* 머리글 텍스트에 굵은 스타일을 적용합니다. */
}

/* 짝수 행 스타일 */
.table_list tbody tr:nth-child(even) {
  background-color: #f4f4f4; /* 짝수 행 배경색을 설정합니다. */
}

/* 게시판 컨테이너 스타일 */
.boardcard_container {
  margin: 20px; /* 게시판 컨테이너 주변 여백을 설정합니다. */
  overflow: auto; /* 내용이 테이블 너비를 벗어나면 스크롤 표시됩니다. */
}