.detail_container {
    position: relative;
    width: 100%;
    margin: 0 auto; 
    height: 300px;
}

.detail_container img {
    width: 100%;
    height: auto;
    display: block;
}

.text_overlay {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    border-radius: 5px; 
    text-align: center;
    color: white;

}

.text_overlay h1 {
    font-size: 62px; 
    font-weight: 600;

    margin: 0;
    padding: 0;
}

.text_overlay p {
    font-size: 32px; 
    font-weight: 400;
    margin-top: 10px; 
    padding: 0;
}
.text_overlay h1,
.text_overlay p {
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.8); /* 그림자 효과 설정 (수평, 수직, 흐림 정도, 색상) */
}

/* 상세페이지 기본 정보 */

.Info_container {
    display: flex;
    height: 500px;
    width: 95%;
    margin: auto;
    margin-top: 20px;
}
.Info_imgbox {
    flex: 60%; 
}

.Info_textbox {
    flex: 40%;
    display: flex;
    flex-direction: column;
    font-weight: 600;
    font-size: 26px;
    height: 100%;
}
.Info_textbox ul {
    list-style: none;

}


.Info_textbox li{
    margin-bottom: 15px; 
    border-bottom: 1px solid #ccc; 
    padding-bottom: 5px; 
} 
.Info_textbox ul li:last-child {
    border-bottom: none; 
}
.Info_textbox ul li span {
    color: #666; 
}

/* 상세페이지 첫번째 태그 컴포넌트(캠핑장 소개) */

.firstInfo_container {
    height: auto;
    width: 95%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    
}

.firstInfo_intro {
    font-size: 22px;
    border-bottom: 1px solid black;
}
.firstInfo_intro p{
    color: #666;
    
}


.iconinfo {
    display: flex;
    border: 1px solid black;
    background-color: white;
}

.iconinfo ul {
    display: flex;
    flex-wrap: wrap; /* 아이템이 한 줄에 다 들어가지 않을 경우를 대비하여 여러 줄에 걸쳐 표시 */
    justify-content: center;
    align-items: center; /* 아이템을 수직 가운데 정렬 */
    list-style: none; /* 기본 리스트 스타일 제거 */
    margin: 0;
    padding: 0;
}
.iconinfo li {
    display: flex;
    align-items: center; /* 아이템을 수직 가운데 정렬 */
    margin: 20px;
}

.firstInfo_textbox {
    display: flex;
    flex-direction: column;
    font-weight: 600;
    font-size: 22px;
    height: 100%;
    
}

.firstInfo_textbox ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    list-style: none;
    padding-left: 0;
}


.firstInfo_textbox li{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    width: 100%;
} 
.firstInfo_textbox ul li:last-child {
    border-bottom: none; 
}
.firstInfo_textbox ul li span {
    
    color: #666; 
    margin-left: 50px;
    text-align: center;
    flex-grow: 1;
    
}
.firstInfo_textbox p{
    font-size: 18px;
    border-top: 1px solid black;
    padding: 20px;
}
.firstInfo_textbox p span{
    color: red;
    
}