/* Home 페이지 */
.banner {
    position: relative;
    width: 100%;
    height: 700px;
    
}



.textOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 5px 4px 6px rgba(0, 0, 0, 0.9);
     /* 텍스트 배경에 반투명한 검은색 배경 추가 */
}
.textOverlay2 {
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    text-shadow: 5px 4px 6px rgba(0, 0, 0, 0.9);
}

.overlayText {
    color: white; /* 텍스트 색상 */
    font-size: 100px; /* 텍스트 크기 */
    text-align: center;
    font-weight: 600;
    padding: 20px; 

}
.textOverlay p {
    color: white; /* 텍스트 색상 */
    font-size: 30px; /* 텍스트 크기 */
    text-align: center;
    font-weight: 600;

}

/* 산림 배너 컴포넌트 CSS */

.forest_middle_container {
    margin-top: 30px;
    text-align: center;
    margin-bottom: 30px;
}
.forest_middle_container h1 {
    font-size: 52px;
    margin: 0;
}
.forest_middle_container h2 {
    font-size: 30px;
    margin: 0;
}



.bannerContainer {
    height: 600px; 
    background-color: #f0f8ff; 
    padding: 20px; 
}


.customSlickPrev {
    border: 1px solid black;
}


/* 산림 캠핑카드 이미지 컴포넌트 */

.imageCard {
    position: relative;
    width: 300px; 
    border: 1px solid #ccc;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
    border-radius: 60px; 
    
}
.imageCard:hover {
    transform: scale(1.1);
}

.imageContainer {
    
    cursor: pointer;
    width: 100%;
    height: 200px; 
    overflow: hidden;
    border-top-left-radius: 50px; /* 상단 좌측 모서리 둥글게 */
    border-top-right-radius: 50px; /* 상단 우측 모서리 둥글게 */
}

.imageContainer img {
    width: 100%;
    
    object-fit: cover;
}

.cardContent {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    
}

.cardContent h1 {
    font-size: 24px;
    margin-bottom: 10px;
}
.cardContent h2 {
    color: black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    font-size: 28px;
    
}
.cardContent svg{
    color: green;
    margin-left: 10px;
    font-size: 20px;
}


/* 오션 캠핑 배너 */
.ocean_middle_container {
    position: relative;
    text-align: center;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}



/* 오션캠핑 카드 */
.ocean_cardContainer {
    display: flex; /* Change: use flex */
    flex-wrap: wrap;
    justify-content: space-between; /* Change: horizontal spacing between cards */
    align-items: flex-start;
    margin-top: 20px;
    
}
.ocean_titlebox {
    margin-bottom: 100px;
}

.icon {
    margin-left: 10px;
    color: #34536d;
    font-size: 25px;
    
}

.ocean_titlebox h1{
    font-size: 52px;
    margin: 0;
}
.ocean_titlebox h2{
    font-size: 30px;
    margin: 0;
}


.ocean_imageCard {
    display: flex;
    align-items: center;
    flex-direction: column; 
    border-radius: 10px;
    margin: 10px; 
    
}


.roundedImage {
    width: 150px;
    height: 150px;
    border-radius: 50%; /* 둥근 형태의 이미지 박스를 만듭니다 */
    overflow: hidden; /* 이미지 박스 내부의 이미지를 숨깁니다 */
    display: flex;
    justify-content: center; /* 수평 정렬 */
    align-items: center; /* 수직 정렬 */
    cursor: pointer;
    position: relative;
}

.roundedImage:hover .overlay {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    transition: opacity 0.3s ease;
}
.overlay p {
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.image {
    width: 100%;
    height: 100%;
}

.ocean_cardContent {
    margin-top: 30px;
    width: 150px;
    padding: 0 20px;
    text-align: center; /* 추가: 내용 가운데 정렬 */
    background-color: white;
    
}
.ocean_cardContent h2{
    border-bottom: 1px solid #ccc;

}

.ocean_cardContent p {
    font-size: 16px;
    color: #333;
    text-align: center; /* 텍스트를 가운데 정렬합니다 */
    
}
.introText {
    display: -webkit-box;
    -webkit-line-clamp: 3; /* 3줄로 제한 */
    -webkit-box-orient: vertical;
    overflow: hidden;
}


/* Story Banner */

.story_container {
    height: 500px;
    width: 100%;
    text-align: center;
}
.story_title {
    margin-top: 30px;
    margin-bottom: 50px;
}

.story_title h1 {
    font-size: 52px;
    color: darkslateblue;
    margin: 0;
}
.story_title h2 {
    font-size: 30px;
    margin: 0;
}


.story_title h1 span{
    font-size: 32px;
    color: black;
}

.story_imgbox {
    display: flex;
    align-items: center;
    justify-content: center;
}
  
  .story_imgbox img {
    max-width: 100%;
    max-height: 100%;
  }