.map_container {
  display: flex;
}




/* 맵카드 스타일 (검색 결과 목록 내부) */
.mapcard {
    display: flex;
    flex-direction: column; /* 요소를 세로로 정렬 */
    border: 1px solid black;
    
}
.mapcard_info h3 {
    margin: 0;
}

.mapcard_info p {
    margin: 0;
}
.pagination {
    display: flex;
}