/* Navbar.module.css */

.navbar {
    /*  #003458 
    #364466 #34536d
    */
    text-align: center;
    border: 1px solid #dedede;
    padding: 10px 0;
    
}


.navList {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    
}


.navItem {
    margin: 0 105px;
    position: relative;
    background-color: white;
    
}

.navLink {
    text-decoration: none;
    color: black;
    font-size: 42px;
    
}

.navLink:hover {
    color: black;

}

.subNavbar {
    background-color: white;
    position: absolute;
    top: 100%; 
    display: flex; /* 하위 모달을 가로로 정렬하기 위해 flex 사용 */
    text-align: center;
    align-items: center;
    justify-content: center;
    z-index: 1;
    
    
}


.subNavList {
    list-style: none; 
    padding: 0; 
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.subNavItem {
    margin: 10px;
    display: flex;
    align-items: center;
}

.subNavLink {
    
    text-decoration: none;
    color: black;
    font-size: 24px;
    height: 100%; /* 하위 목록 아이템 내의 텍스트를 세로 중앙에 정렬 */
    display: flex;
    align-items: center;

    
}

.loginnav_container {
    height: 35px;
    display: flex;
    justify-content: flex-end; /* 링크를 오른쪽으로 정렬합니다 */
    text-align: center;
    align-items: center;
    font-size: 20px; 
    background-color: rgba(240, 240, 240, 0.8);
    border-bottom: 1px solid #dedede;
}
.loginnav_container a {
    text-decoration: none; /* 링크 밑줄 제거 */
    margin: 0 3px; /* 각 링크 사이에 간격을 조절 */
    border-right: 1px solid #dedede; /* 수직 구분선 추가 */
    padding: 0 20px; /* 수직 구분선과 링크 사이에 간격을 조절 */
    color: black;
}

.loginnav_container a:last-child {
    border-right: none; /* 마지막 링크의 수직 구분선을 제거 */
}


.main_container {
    height: 100px;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main_iconbox {
    display: flex;
    gap: 10px;
}
.main_imgbox {
    margin-top: 10px;
    cursor: pointer;
}
.main_searchbox {
    font-size: 20px;
    display: flex;
    height: 40px;
}

.main_searchbox input{
    
    width: 150px;
    background-color: rgba(240, 240, 240, 0.8);
    border: none;
    padding-left: 10px; 
    
}
.main_lastbox {
    height: 100%;
    background-color: rgba(240, 240, 240, 0.8);
    width: 40px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    cursor: pointer;
    color: black;
}


