.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333; /* 배경색 설정 */
    padding: 10px 20px; /* 상하좌우 여백 설정 */
    color: #fff; /* 글자색 설정 */
}

/* 상위 메뉴 스타일 */
.navItem {
    margin: 0 10px; /* 메뉴 아이템 간 여백 설정 */
    position: relative; /* 상대 위치 설정 */
    cursor: pointer;
}

/* 서브 네브바 스타일 */
.subNavbar {
    position: absolute; /* 절대 위치 설정 */
    top: 100%; /* 상단에 붙이도록 설정 */
    left: 0;
    display: none; /* 기본으로 숨김 상태로 설정 */
    background-color: #444; /* 배경색 설정 */
    padding: 10px; /* 여백 설정 */
}

/* 상위 메뉴 호버 시 서브 네브바 표시 */
.navItem:hover .subNavbar {
    display: block;
}

/* 서브 네브바 아이템 스타일 */
.subNavItem {
    margin: 5px 0; /* 메뉴 아이템 간 여백 설정 */
}

/* 링크 스타일 */
.navLink, .subNavLink {
    text-decoration: none; /* 밑줄 제거 */
    color: #fff; /* 글자색 설정 */
}

/* 링크 호버 시 스타일 변경 */
.navLink:hover, .subNavLink:hover {
    text-decoration: underline; /* 밑줄 추가 */
    color: #ff6600; /* 호버 시 글자색 변경 */
}

.loginnav_container {
    height: 35px;
    display: flex;
    justify-content: flex-end; /* 링크를 오른쪽으로 정렬합니다 */
    text-align: center;
    align-items: center;
    font-size: 20px; 
    background-color: rgba(240, 240, 240, 0.8);
    border-bottom: 1px solid #dedede;
}
.loginnav_container a {
    text-decoration: none; /* 링크 밑줄 제거 */
    margin: 0 3px; /* 각 링크 사이에 간격을 조절 */
    border-right: 1px solid #dedede; /* 수직 구분선 추가 */
    padding: 0 20px; /* 수직 구분선과 링크 사이에 간격을 조절 */
    color: black;
}

.loginnav_container a:last-child {
    border-right: none; /* 마지막 링크의 수직 구분선을 제거 */
}


.main_container {
    height: 100px;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main_iconbox {
    display: flex;
    gap: 10px;
}
.main_imgbox {
    margin-top: 10px;
    cursor: pointer;
}
.main_searchbox {
    font-size: 20px;
    display: flex;
    height: 40px;
}

.main_searchbox input{
    
    width: 150px;
    background-color: rgba(240, 240, 240, 0.8);
    border: none;
    padding-left: 10px; 
    
}
.main_lastbox {
    height: 100%;
    background-color: rgba(240, 240, 240, 0.8);
    width: 40px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    cursor: pointer;
    color: black;
}


